<div class="panel">
	<form action="" novalidate class="options">
		
		<fieldset>
			<legend>Récupérer un export de vos flux</legend>

			<div class="row">
				<label for="name">Nom de votre export :</label>
				<input type="text" id="name" name="name" placeholder="Donner un nom au fichier d'export" />
			</div>

			<button class="btn" type="submit">Télecharger</button>
			
		</fieldset>

		<fieldset>
			<legend>Ajouter un nouveau flux</legend>

			<div class="row">
				<label for="feed_label">Nom du flux :</label>
				<input type="text" id="feed_label" name="feed_label" placeholder="Nom apparaissant dans la sidebar" />
			</div>

			<div class="row">
				<label for="feed_url">Url du flux :</label>
				<input type="text" id="feed_url" name="feed_url"  placeholder="Url du flux rss/atom" />
			</div>

			<button class="btn" type="submit">Sauvegarder</button>
		</fieldset>

	</form>
</div>